.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00000047;
    position: absolute;
    padding: 30px 70px;
    min-height: 80px;
    z-index: 1000;
}

.header--logo{
    cursor: pointer;
}

.header--navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.header--navbar{
    opacity: 0;
    transform: translateY(-10px);
}
.header--navbar ul li{
    cursor: pointer;
    transition: 0.4s ease;
    padding: 8px 32px;
}

.header--navbar ul li:hover{
    background: var(--primary-color);
    border-radius: 15px;
   
}

.header--signin button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 8px 32px;
    border-radius: 15px;
    border: 1px solid var(--white-color);
    transition: 0.5s;
    opacity: 0; 
    transform: translateX(30); 
}

.header--signin button:hover{
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}